/* universal selector  */
* {
  margin: 0;
  padding: 0;
}

/* shared style  */
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.btn {
  background: #469165;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
}
.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #469165;
  border: 1px solid #469165;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
}
.btn-transparent {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
}
.btn-transparent:hover {
  cursor: pointer;
  color: #30b868;
  background: white;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
}
.primary {
  color: #469165;
}
.primary-text {
  color: #30b868;
}
.white {
  color: #fff;
}

.title h1 {
  font-size: 48px;
  font-weight: 700;
}
.title p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

/* Specific styles */
nav {
  max-width: 1360px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
nav ul {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 32px;
}
nav ul li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: #000;
}

main {
  height: 674px;
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
main #hero-content {
  width: 770px;
  height: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main #hero-content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}

main #hero-content .white-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 1000px;
  margin: 0 auto;
}
main #hero-content .green-dot {
  width: 16px;
  margin-right: 4px;
}
main #hero-content .description {
  line-height: 34px;
  font-size: 19px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 300;
}

main .hero-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
}
#course-advice {
  width: 1360px;
  margin: 0 auto;
  padding: 60px 0;
}
#course-advice .advice-title {
  text-align: center;
}
#cards{
display: flex;
gap: 24px;
justify-content: center;
margin-top: 44px;
}
#cards .card {
  width: 332px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
#cards .card .card-icon {
  width: 60px;
  height: 60px;
  background: rgba(249, 85, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}
#cards .card .card-icon img {
  width: 32px;
  height: 32px;
}
#cards .card h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
#cards .card p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #627382;
}
